body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #42468C;
    color: #F0F1F9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 15px;
    height: 35px;
    margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}